.nav {
    height: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
}

.list {
    background-color: #dddddd;
    border-radius: 18px;
}

.itemLink {
    font-size: 24px;
    line-height: 24px;
    color: #5d5fef;
    text-decoration: none;
    padding: 20px 20px;
    display: block;
    border-radius: 18px;
    transition: all .3s;
    font-weight: 500;
}

.itemLink:hover {
    background-color: #5d5fef;
    color: #dddddd;
}
.itemLinkActive{
    color: #dddddd;
    background-color: #5d5fef;
}

.friends{
    background-color: #5d5fef;
    border-radius: 18px;
    padding: 20px;
    color: #ffffff;
}
.friendsPhoto{
    max-width: 90px;
    border-radius: 50%;
    width: 100%;
}
.friendsList{
    text-align: center;
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
}
